
Core Data Persistance/Core Data Persistance.xcodeproj/project.xcworkspace/xcuserdata/tony.xcuserdatad/UserInterfaceState.xcuserstate

Core Data Persistance/Core Data Persistance.xcodeproj/xcuserdata/tony.xcuserdatad/xcschemes/Core Data Persistance.xcscheme

Core Data Persistance/Core Data Persistance.xcodeproj/xcuserdata/tony.xcuserdatad/xcschemes/xcschememanagement.plist

WhereAmI/WhereAmI.xcodeproj/project.xcworkspace/xcuserdata/tony.xcuserdatad/UserInterfaceState.xcuserstate

WhereAmI/WhereAmI.xcodeproj/xcuserdata/tony.xcuserdatad/xcschemes/WhereAmI.xcscheme

WhereAmI/WhereAmI.xcodeproj/xcuserdata/tony.xcuserdatad/xcschemes/xcschememanagement.plist
